.filter-container{
    display: flex;
    justify-content: space-between;
    background: var(--bg-color);
    margin-top: 1rem;
}
.filter-items{
    display: flex;
    flex-wrap: wrap;
}
.filter-items .input-box{
    margin: 1rem;
}
.input-box select{
    width: 100%;

}
.username{
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    color: white;
}
.username svg{
    display: flex;
    margin: auto;
}


@media (max-width: 400px){
    .filter-container select{
        width: 6rem;
    
    }
}