.filter-form{
    display: flex;
    background: var(--bg-color);
    margin-top: 1rem;
}
.input-box{
    margin: 1rem;
}
.filter-form select{
    width: 10rem;

}
@media (max-width: 400px){
    .filter-form select{
        width: 6rem;
    
    }
}